@charset "UTF-8";

/* メイン画像 配置 */
.product-list{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:35px

}

/* 表示サイズ */
.wrapper{
    width:100vw;
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 40px;
    margin-bottom: 30px;
}

.product-list img{
    width: 100%;
}

#header{
    display: flex;
    justify-content: space-between;
}

.product-list{
    list-style: none;
}

#footer .menu{
    display: flex;
    list-style: none;
    justify-content: flex-start;
}

.menu li{
    margin-right: 15px;
}

a{
    text-decoration: none;
    color: black;
}

.link-text{
    display: block;
    text-align: center;
    margin-top: 40px;
}
/* item */
.item{
    max-width: 800px;
    display: flex;
    justify-content: space-between;
}
.item .item-text{
    width: 50%;
}
.item .item-text p{
    margin-bottom: 20px;
}

.page-title{
    font-size: 20px;
    margin-bottom: 10px;
}

.item .item-img{
    width: 42%;
}

.item .item-img img{
    width: 100%;
}

/* レスポンシブ対応 */
@media(max-width:600px){
    .product-list{
        grid-template-columns: repeat(2,1fr);
        gap:20px
    }
    .product-list p{
        font-size: 0.8rem;
        line-height: 1.4;
        margin-top: 6px;
    }
    .site-title img{
        height: 24px;
        width: auto;
    }
    .item{
        flex-direction: column;
    }
    .item .item-img,
    .item .item-text{
        width: 100%;
    }
}