@charset "UTF-8";

/* メイン画像 配置 */
.product-list{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:35px

}

/* 表示サイズ */
.wrapper{
    width:100vw;
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 40px;
    margin-bottom: 30px;
}

.product-list img{
    width: 100%;
}

#header{
    display: flex;
    justify-content: space-between;

    /* align-items: center;
    position: fixed;
    background-color: white;
    width: 100%;
    height: 80px; */
}

.product-list{
    list-style: none;
}

#footer .menu{
    display: flex;
    list-style: none;
    justify-content: flex-start;
}

.menu li{
    margin-right: 15px;
}

a{
    text-decoration: none;
    color: black;
}

.link-text{
    display: block;
    text-align: center;
    margin-top: 40px;
}
/* item */
.item{
    max-width: 800px;
    display: flex;
    justify-content: space-between;
}
.item .item-text{
    width: 50%;
}
.item .item-text p{
    margin-bottom: 20px;
}

.page-title{
    font-size: 20px;
    margin-bottom: 10px;
}

.item .item-img{
    width: 42%;
}

.item .item-img img{
    width: 100%;
}
/* company */
#company{
    max-width: 600px;
}
#company .info{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
#company .info th,
#company .info td{
    font-weight: normal;
    border-bottom: 1px solid #dcdbdb;
    padding: 20px 10px;
}
#company .info th{
    width: 30%;
    text-align: left;
}
#company .info td{
    width: 70%;
}
#company .info tr:last-child th,
#company .info tr:last-child td{
    border-bottom: none;
}

#company .map{
    filter: grayscale(1);
    margin-bottom: 100px;
}
#company .map iframe{

    width: 100%;
    height: 300px;
}

/* contact */
#contact-form{
    max-width: 600px;
}
#contact-form input,
#contact-form select,
#contact-form textarea,
#contact-form button
{
    width: 100%;
    border: 1px solid #dcdcdc;
    padding: 10px;
}
/* contact-form 内のチェックボックスとラジオボタン専用の調整 */
#contact-form input[type="checkbox"],
#contact-form input[type="radio"] {
 
  /* width: 100% などの共通指定を打ち消し、
     チェックボックス本来のサイズに戻す */
  width: auto;
 
  /* 他の input に指定している padding を無効化し、
     余白によるズレを防ぐ */
  padding: 0;
 
  /* テキスト入力用の枠線が
     チェックボックスに適用されないようにする */
  border: 0;
}
/* レスポンシブ対応 */
@media(max-width:600px){
    .product-list{
        grid-template-columns: repeat(2,1fr);
        gap:20px
    }
    .product-list p{
        font-size: 0.8rem;
        line-height: 1.4;
        margin-top: 6px;
    }
    .site-title img{
        height: 24px;
        width: auto;
    }
    .item{
        flex-direction: column;
    }
    .item .item-img,
    .item .item-text{
        width: 100%;
    }
/* company */
    #company .info th,
    #company .info td{
        display: block;
        width: 100%;
        border-bottom: none;
        white-space: nowrap;
    }
    #company .info td{
        padding-top: 5px;
    }
    #company .info th{
        padding-bottom: 5px;
    }
    #company .info tr{
        display: block;
        border-bottom: 1px solid #dcdbdb;
        padding: 10px 0;
    }
    #company .info tr:last-child{
        border-bottom: none;
    }
}